doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
    script.
      function openModal(url) {
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = url;
        document.getElementById('modal').classList.remove('hidden');
      }
      function closeModal() {
        document.getElementById('modal').classList.add('hidden');
      }
      function goBack() {
        history.back();
      }
  body
    div(class="flex h-screen custom-gradient")
      div
        div(class="h-screen w-64 pl-6 pr-6 border-r-[1px] border-c-border-color" )
          div(class="h-20 flex items-center")
            img(class="w-8 h-8 rounded-full object-cover" src="./images/logo.webp")

          div(class="mb-6")
            h2(class="text-c-text-light text-xs font-thin mb-2") Main Menu
            a(class="flex items-center rounded-lg p-2 text-sm text-c-text-med hover:bg-c-grey-dark" href="/") Dashboard
            a(class="flex items-center rounded-lg p-2 text-sm text-c-text-med hover:bg-c-grey-dark" href="/catalog/books") Books
            a(class="flex items-center rounded-lg p-2 text-sm text-c-text-med hover:bg-c-grey-dark" href="/catalog/authors") Authors
            a(class="flex items-center rounded-lg p-2 text-sm text-c-text-med hover:bg-c-grey-dark" href="/catalog/genres") Genres
            a(class="flex items-center rounded-lg p-2 text-sm text-c-text-med hover:bg-c-grey-dark" href="/catalog/bookinstances") Book-instances
      div(class="flex-1 pl-8 pr-6")
        div(class="h-20 flex items-center")
          block header
        block content
      