mixin list_tile(title, value)
  div(class="p-4 mb-2 bg-white shadow-sm border rounded-lg")
   span(class="text-c-text-med font-bold text-sm") #{title}:
   span(class="text-c-text-light text-sm")   #{value}