mixin table_actions(viewUrl, updateUrl, deletUrl)
  div(class="flex gap-3")
    a(href=viewUrl)
      span.material-symbols-outlined visibility
    a(href=updateUrl)
      span.material-symbols-outlined edit
    button(onclick="openModal('" + deletUrl + "')" )
      span.material-symbols-outlined.text-red-500 delete
    +modal()
